.result-name-card {
    background-color: #0099ff;
    min-width: 90px;
    border-radius: 4px;
    margin: 10px 15px;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    transition: 0.5s;
    color: white;
    
}

.result-name-card:hover {
    border-radius: 8px;
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 7px 9px 0px #48e9f5;
}

.card-link {
    text-decoration: none;
}
